@{
    Layout = "~/Views/Shared/_NavLayout.cshtml";
    CourseResponse course = (CourseResponse)ViewData["Course"];
    ViewBag.CurrentUrl = String.Format("~/course/{0}", course.CourseId);
    Assignment assignment = null;
    if (ViewData["userAssignment"] != null)
    {
        assignment = (Assignment)ViewData["userAssignment"];
    }
}

@*Section for rendering page css file in layout view*@ 
@section css {
    <link rel="stylesheet" type="text/css" href="~/css/course.css">
}

<h1 class="title" > @course.CourseName </h1 >
<div class="course-info-container">
    <h3 class="course-info-id">Course Id: @course.CourseId </h3>
    <h3 class="course-info-teacher" >Teacher Id: @course.TeacherId </h3 >
    <h2 class="course-info-message-header" >News</h2 >
    <p class="course-info-message">@course.CourseMessage</p>
    <h2 class="course-info-info-header" >Info</h2 >
    <p class="course-info-info">@course.CourseText</p>
    <div class="course-info-file-container">
        <h2 class="course-info-filename">@course.CourseFileName</h2>
        <a class="button-link" href="~/download/@course.CourseFileName">Download File</a>
    </div>
    <div class="course-info-buttons-container">
        @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
        {
            <a class="button-link" href="~/editcourse/@course.CourseId">Edit Course</a>
            <a class="button-link" href="~/createmessage/@course.CourseId">Create Message</a>
            <a class="button-link" href="~/submittedassignments/@course.CourseId">View Submitted Assignments</a>
        } else
        {
            if (assignment == null)
            {
                <a class="button-link" href="~/submitassignment/@course.CourseId">Submit Assignment</a>
            }
        }
    </div>
    @if(assignment != null)
    {
        <div class="course-info-grade-container">
            <h2 class="course-info-grade">@assignment.Grade</h2>
            <h2 class="course-info-assignment-filename">@assignment.AssignmentFileName</h2>
            <a class="button-link" href="~/download/@assignment.AssignmentFileName">Download File</a>
        </div>
    }
</div>

